/sql/
/public/wp-includes/
/public/wp-content/plugins/
/public/wp-content/themes/twentytwentyone/
/public/wp-content/themes/twentytwentytwo/
/public/wp-content/themes/twentytwentythree/
/public/wp-content/uploads/