@charset "utf-8";


/**************************************************************
* sg-c-contents-01-container
**************************************************************/
@media all and (min-width: 768px) {
  .sg-c-contents-01-container {
    margin-top: 32rem;
  }
}

@media all and (max-width: 767px) {
  .sg-c-contents-01-container {
    margin-top: 16rem;
  }
}


/* sg-c-contents-01-list
**************************************************************/


/* list__item
********************************/
@media all and (max-width: 767px) {
  .sg-c-contents-01-list .list__item:nth-child(n + 2) {
    margin-top: 4rem;
  }
}


/* item__contents
********************************/
.sg-c-contents-01-list .item__contents {
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 768px) {
  .sg-c-contents-01-list .list__item:nth-child(odd) .item__contents {
    flex-direction: row-reverse;
  }

  .sg-c-contents-01-list .list__item:nth-child(even) .item__contents {}
}

@media all and (max-width: 767px) {}


/* item__photo
********************************/
.sg-c-contents-01-list .item__photo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.sg-c-contents-01-list .item__photo-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sg-c-contents-01-list .item__photo-bg img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
@media all and (min-width: 768px) {
  .sg-c-contents-01-list .item__photo {
    width: 50%;
    padding-top: 56.25%;
  }
}
@media all and (min-width: 1921px) {
  .sg-c-contents-01-list .item__photo {
    padding-top: 24rem;
  }
}
@media all and (max-width: 767px) {
  .sg-c-contents-01-list .item__photo {
    width: 92%;
    padding-top: 56.25%;
  }
}

/* item__info
********************************/
@media all and (min-width: 768px) {
  .g-container .sg-c-contents-01-list .item__info {
    position: relative;
    width: 50%;
  }
  .g-container .sg-c-contents-01-list .item__info-container {
    width: 80%;
    margin: 0 auto;
    padding: 12.5% 0;
  }
}
@media all and (min-width: 1921px) {
  .sg-c-contents-01-list .item__info-container {
    padding: 12rem 0;
  }
}
@media all and (max-width: 767px) {
  .sg-c-contents-01-list .item__info {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .sg-c-contents-01-list .item__info-container {
    margin: 0 auto;
    padding: 4rem 0;
  }
}


/* item__ttl
********************************/
.second_page .sg-c-contents-01-list .item__ttl {
  padding: 0;
  border: none;
}
.sg-c-contents-01-list .item__ttl-name {
  color: #000;
  line-height: 1.5;
}
@media all and (min-width: 768px) {
  .sg-c-contents-01-list .item__ttl-name {
    font-size: 3.6rem;
  }
}
@media all and (max-width: 767px) {
  .sg-c-contents-01-list .item__ttl-name {
    font-size: 1.8rem;
  }
}


/* c-lead-container
********************************/
@media all and (min-width: 768px) {
  .sg-c-contents-01-list .c-lead-container {}
}
@media all and (max-width: 767px) {
  .sg-c-contents-01-list .c-lead {}
}

/* item__des-inner
********************************/
.sg-c-contents-01-list .item__des-inner {
  position: relative;
}
.sg-c-contents-01-list .item__des-inner+.item__des-inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 6rem;
  height: .1rem;
  background-color: #707070;
}
@media all and (min-width: 768px) {
  .sg-c-contents-01-list .item__des-inner {
    padding: 5.4rem 0 0;
  }
  .sg-c-contents-01-list .item__des-inner+.item__des-inner {
    margin: 5.4rem 0;
  }
}
@media all and (max-width: 767px) {
  .sg-c-contents-01-list .item__des-inner {
    padding: 2.7rem 0 0;
  }
  .sg-c-contents-01-list .item__des-inner+.item__des-inner {
    margin: 2.7rem 0;
  }
}


/* item__des
********************************/
.sg-c-contents-01-list .item__des {
  line-height: 2;
}
@media all and (min-width: 768px) {
  .sg-c-contents-01-list .item__des {
    font-size: 1.6rem;
  }
}
@media all and (max-width: 767px) {
  .sg-c-contents-01-list .item__des {
    font-size: 1.4rem;
  }
}

/**************************************************************
* c-section
**************************************************************/
@media all and (min-width: 768px) {
  .c-section {
    padding: 10rem 0;
  }
}
@media all and (max-width: 767px) {
  .c-section {
    padding: 5.5rem 0;
  }
}

/**************************************************************
* c-inner
**************************************************************/
.c-inner {
  margin-left: auto;
  margin-right: auto;
}
@media all and (min-width: 768px) {
  .c-inner {
    width: 66.666%;
    min-width: 74rem;
    max-width: var(--contents-width);
  }
}
@media all and (max-width: 767px) {
  .c-inner {
    width: 92%;
  }
}


/**************************************************************
* c-contents
**************************************************************/

/* c-contents__inner
**************************************************************/
@media all and (min-width: 768px) {
  .c-contents__inner {
    margin: 10rem auto;
  }
}
@media all and (max-width: 767px) {
  .c-contents__inner {
    margin: 6rem auto;
  }
}

/**************************************************************
* c-head
**************************************************************/

/* c-head-vl-2
**************************************************************/
.c-head-vl-2 {
  color: var(--base-bg-color);
  line-height: 1.666;
  text-align: center;
}
@media all and (min-width: 768px) {
  .c-head-vl-2 {
  }
}
@media all and (max-width: 767px) {
  .c-head-vl-2 {
  }
}



/* c-head-vl-2__ttl
********************************/
.c-head-vl-2__ttl {
  display: inline-block;
  color: var(--main-ttl-color);
  font-weight: bold;
  font-family: var(--title-font-family);
}

/* c-head-vl-2__ttl.--en
********************************/
.c-head-vl-2__ttl {
  position: relative;
}
.c-head-vl-2__ttl-bg {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: var(--main-bg-color);
}
@media all and (min-width: 768px) {
  .c-head-vl-2__ttl.--en {
    font-size: 4rem;
  }
}

@media all and (max-width: 767px) {
  .c-head-vl-2__ttl.--en {
    font-size: 2.2rem;
  }
}

/* c-head-vl-2__ttl.--jp
********************************/
.c-head-vl-2__ttl.--jp {
  display: block;
}
@media all and (min-width: 768px) {
  .c-head-vl-2__ttl.--jp {
    font-size: 2.4rem;
  }
}

@media all and (max-width: 767px) {
  .c-head-vl-2__ttl.--jp {
    font-size: 1.4rem;
  }
}

/**************************************************************
* c-hamburger-menu
**************************************************************/


/* c-hamburger-menu
**************************************************************/
.c-hamburger-menu {
  cursor: pointer;
  position: fixed;
  top: 0;
  z-index: 2;
}
@media all and (min-width: 768px) {
  .c-hamburger-menu {
    right: 0;
    z-index: 2;
    width: 4.46rem;
    margin: 3rem 11.145% 0 0;
  }
}
@media all and (max-width: 767px) {
  .c-hamburger-menu {
    right: 0rem;
    width: 10.666%;
    margin: 3rem 4% 0 0;
  }
}

/* c-hamburger-menu__ttl
********************************/
.c-hamburger-menu__ttl {
  position: relative;
  color: var(--main-bg-color);
  font-weight: bold;
  font-family: var(--title-font-family);
  text-align: center;
}
.c-hamburger-menu__ttl::before {
  content: "OPEN";
  display: block;
  transition: all var(--transition-speed);
}
@media all and (min-width: 768px) {
  .c-hamburger-menu__ttl {
    margin-bottom: .8rem;
    font-size: 1.4rem;
  }
}
@media all and (max-width: 767px) {
  .c-hamburger-menu__ttl {
    margin: 0 0 .8rem;
  }
}

/* c-hamburger-menu__line
********************************/
.c-hamburger-menu__line {
  width: 100%;
  height: .6rem;
  background-color: #707070;
  transition: all var(--transition-speed);
}
.c-hamburger-menu__line.--line-2 {
  margin: 1rem 0 0;
  background-color: var(--main-accent-color);
}
.c-hamburger-menu__line.--line-3 {
  width: 60%;
  margin: 1rem 0 0;
}
@media all and (max-width: 767px) {
  .c-hamburger-menu__line {
    /* width: 100%;
    height: 1rem; */
  }
  .c-hamburger-menu__line.--line-2 {
    /* width: 50%;
    margin: 2rem 0 0 ; */
  }
}

/* is-open
********************************/
.is-open .c-hamburger-menu {
  width: 6.5rem;
}
.is-open .c-hamburger-menu__ttl::before {
  content: "CLOSE";
  margin: 0 0 3.6rem;
  color: var(--hamberger-menu-color);
}
.is-open .c-hamburger-menu__line {
  background-color: var(--hamberger-menu-color);
}
.is-open .c-hamburger-menu .c-hamburger-menu__line.--line-1 {
  margin: 0 0 -1.6rem 0;
  transform: rotate(45deg);
}
.is-open .c-hamburger-menu .c-hamburger-menu__line.--line-2 {
  transform: rotate(-45deg);
}
.is-open .c-hamburger-menu .c-hamburger-menu__line.--line-3 {
  display: none;
}
@media (hover: hover) {
  .c-hamburger-menu:hover .c-hamburger-menu__line.--line-3 {
    transform: translateX(68%);
  }
  .is-open .c-hamburger-menu:hover .c-hamburger-menu__ttl::before {
    color: var(--hamberger-menu-hover-color);
  }
  .is-open .c-hamburger-menu:hover .c-hamburger-menu__line {
    background-color: var(--hamberger-menu-hover-color);
  }
  .is-open .c-hamburger-menu:hover .c-hamburger-menu__line.--line-2 {
    margin-left: 0;
  }
}
@media all and (min-width: 768px) {
  .is-open .c-hamburger-menu {
    margin-right: 10.677%;
    height: 8rem;
  }
}
@media all and (max-width: 767px) {
  .c-hamburger-menu {
    width: 3.4rem;
    margin-top: 2.5rem;
  }
  .is-open .c-hamburger-menu {
    width: 3.4rem;
    height: 5rem;
    margin-right: 1.2rem;
  }
  .is-open .c-hamburger-menu__ttl::before {
    margin: 0 0 1.8rem;
  }
  .is-open .c-hamburger-menu {
    bottom: auto;
  }
  .is-open .c-hamburger-menu .c-hamburger-menu__line.--line-2 {
    width: 100%;
  }
}
@media all and (min-width: 1300px) {
  .c-hamburger-menu {
    /*display: none;*/
  }
}


/**************************************************************
* テキスト
**************************************************************/

/* c-lead
**************************************************************/
.c-lead {
  line-height: 2;
}
.c-lead a {
  text-decoration: underline;
}
@media all and (min-width: 768px) {
  .c-lead {
    font-size: 1.8rem;
    text-align: center;
  }
}
@media all and (max-width: 767px) {
  .c-lead {
    font-size: 1.4rem;
  }
}
@media (hover: hover) {
  .c-lead a:hover {
    text-decoration: none;
  }
}

/* c-notes
**************************************************************/
.c-notes {
  line-height: 1.428;
}
@media all and (min-width: 768px) {
  .c-notes {
    font-size: 1.4rem;
    text-align: center;
  }
  .c-lead + .c-notes {
    margin-top: 2rem;
  }
}
@media all and (max-width: 767px) {
  .c-notes {
    font-size: 1.3rem;
  }
}



/**************************************************************
* c-btn-container
**************************************************************/
.c-btn-container {
  margin-left: auto;
  margin-right: auto;
}
@media all and (min-width: 768px) {
  .c-btn-container {
    width: 32rem;
  }
  .c-btn-container:not(.--cv) {
    margin: 8rem auto;
  }
  .c-btn-container.--cv {
    width: 55.8rem;
  }
}
@media all and (max-width: 767px) {
  .c-btn-container {
    width: 28rem;
  }
  .c-btn-container:not(.--cv) {
    margin: 6rem auto;
  }
  .c-btn-container.--cv {
    width: 100%;
  }
}

/* c-btn
**************************************************************/
.c-btn {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  border: 0.1rem solid var(--accent-color-01);
  border-radius: 1rem;
  background-color: var(--accent-color-01);
  transition: background-color var(--transition-speed);
}
.--cv .c-btn {
  border-color: var(--main-btn-bg-color);
  background-color: var(--main-btn-bg-color);
}
@media all and (min-width: 768px) {
  .c-btn {}
  .c-btn::before {
    width: 6rem;
  }
}
@media all and (max-width: 767px) {

}
@media (hover: hover) {
  .c-btn:hover {
    background-color: #000;
  }
}

/* c-btn-link
********************************/
.c-btn-link {
  display: block;
}
@media all and (min-width: 768px) {
  .c-btn-link {
    padding: 2rem 0;
  }
  .--cv .c-btn-link {
    padding: 3rem 0;
  }
}
@media all and (max-width: 767px) {
  .c-btn-link {
    padding: 1rem 0;
  }
  .--cv .c-btn-link {
    padding: 1.7rem 0;
  }
}

/* c-btn-lbl
********************************/
.c-btn-lbl {
  position: relative;
  color: var(--base-bg-color);
  font-weight: bold;
}
.c-btn-lbl::before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 6rem;
  height: .1rem;
  margin: auto 0 auto 0;
  background-color: #000;
  transition: width var(--transition-speed);
}
@media all and (min-width: 768px) {
  .c-btn-lbl {
    font-size: 2rem;
  }
  .--cv .c-btn-lbl {
    font-size: 2.8rem;
  }
}
@media all and (max-width: 767px) {
  .c-btn-lbl {
    font-size: 1.6rem;
  }
  .--cv .c-btn-lbl {
    font-size: 1.8rem;
  }
}
@media (hover: hover) {
  /* .c-btn-link:hover .c-btn-lbl::before {
    width: 0rem;
  } */
}


/**************************************************************
* c-submit-btn-outer
**************************************************************/
.c-submit-btn-outer {
  display: flex;
  flex-wrap: wrap;
}

/* c-submit-btn-container
**************************************************************/
.c-submit-btn-container {
  margin-left: auto;
  margin-right: auto;
}
@media all and (min-width: 768px) {
  .c-submit-btn-container {
    width: 41.198%;
    max-width: 33rem;
  }
}
@media all and (max-width: 767px) {
  .c-submit-btn-container {
    width: 45.198%;
  }
  .--col-1 .c-submit-btn-container {
    width: 87%;
  }
}

/* c-submit-btn
**************************************************************/
.c-submit-btn {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  border: .1rem solid var(--main-btn-bg-color);
  border-radius: 1rem;
  background-color: var(--main-btn-bg-color);
  transition: background-color var(--transition-speed);
}
.c-submit-btn::before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: .1rem;
  margin: auto 0 auto 0;
  background-color: var(--base-bg-color);
  transition: width var(--transition-speed);
}
.c-submit-btn-container.--prev .c-submit-btn::before {
  left: 0;
  right: auto;
}
@media all and (min-width: 768px) {
  .c-submit-btn {
    padding: 3.2rem 0;
  }
  .c-submit-btn::before {
    width: 6rem;
  }
}
@media all and (max-width: 767px) {
  .c-submit-btn {
    padding: 2.4rem 0;
  }
  .c-submit-btn::before {
    width: 2rem;
  }
}
@media (hover: hover) {
  .c-submit-btn:hover {
    background-color: #000;
  }
  .c-submit-btn:hover::before {
    width: 0;
  }
}

/* c-submit-btn__lbl
********************************/
.c-submit-btn__lbl {
  color: var(--base-bg-color);
  font-size: 1.6rem;
  font-weight: 600;
}
@media all and (min-width: 768px) {
  .c-submit-btn__lbl {
    font-size: 1.6rem;
  }
}
@media all and (max-width: 767px) {
  .c-submit-btn__lbl {
    font-size: 1.4rem;
  }
}


/**************************************************************
* c-tbl-list-container
**************************************************************/

/* c-tbl-list
**************************************************************/


/* list__item
********************************/
.c-tbl-list .list__item:not(:last-child) {
  border-bottom: .1rem solid #E6E6E6;
}

/* item__contents
********************************/
.c-tbl-list .item__contents {}
@media all and (min-width: 768px) {
  .c-tbl-list .item__contents {
    display: flex;
    flex-wrap: wrap;
    padding: 4.8rem 0;
  }
}
@media all and (max-width: 767px) {
  .c-tbl-list .item__contents {
    padding: 4rem 0;
  }
}

/* item__ttl
********************************/
.c-tbl-list .item__ttl {
  font-size: 1.6rem;
  font-weight: bold;
}
.c-tbl-list .item__ttl-txt {
  line-height: 2;
}
@media all and (min-width: 768px) {
  .c-tbl-list .item__ttl {
    width: 26.8rem;
    text-align: center;
  }
}
@media all and (max-width: 767px) {
  .c-tbl-list .item__ttl {
    margin-bottom: 1rem;
  }
}

/* item__des
********************************/
.c-tbl-list .item__des {
  font-size: 1.6rem;
  line-height: 2;
}
@media all and (min-width: 768px) {
  .c-tbl-list .item__contents>.item__des {
    width: calc(100% - 26.8rem);
  }
}

/* item__mark
********************************/
.c-tbl-list .item__mark {
  position: relative;
}
.c-tbl-list .item__mark::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 0;
  margin-right: 1rem;
  padding-top: 1rem;
  border-radius: 100%;
  background-color: var(--main-accent-color);
}
@media all and (min-width: 768px) {}

/* item__info-outer
********************************/
.c-tbl-list .item__info-outer {}
@media all and (min-width: 768px) {
  .c-tbl-list .item__info-outer {
    width: calc(100% - 26.8rem);
  }
}
@media all and (max-width: 767px) {}

/* item__info-container
********************************/
.c-tbl-list .item__info-container {
  display: flex;
  flex-wrap: wrap;
}
@media all and (min-width: 768px) {
  .c-tbl-list .item__info-outer .item__info-container:nth-child(n + 2) {
    margin-top: 2.5rem;
  }
}
@media all and (max-width: 767px) {
  .c-tbl-list .item__info-outer .item__info-container:nth-child(n + 2) {
    margin-top: 3rem;
  }
}

/* item__info
********************************/
@media all and (min-width: 768px) {
  .c-tbl-list .item__info {}
}
@media all and (max-width: 767px) {
  .c-tbl-list .item__info {}
}

/* item__map
********************************/
.c-tbl-list .item__map-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media all and (min-width: 768px) {
  .c-tbl-list .item__map-map {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 35.143%;
  }
  .c-tbl-list .item__map {
    width: 100%;
    margin-top: 2rem;
  }
}
@media all and (max-width: 767px) {
  .c-tbl-list .item__map-map {
    position: relative;
    width: 100%;
    height: 0;
    margin-top: 2rem;
    padding-top: 50.75%;
  }
  .c-tbl-list .item__map {
    width: 100%;
  }
}

/* item__list-item
********************************/
.c-tbl-list .item__list {
  position: relative;
  padding: 0 0 0 1.3rem;
}
.c-tbl-list .item__list::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: .5rem;
  height: 0;
  padding-top: .5rem;
  border-radius: 100%;
  background-color: #000;
}
@media all and (min-width: 768px) {
  .c-tbl-list .item__list-item {
    font-size: 1.6rem;
    line-height: 2.5;
  }
  .c-tbl-list .item__list::before {
    margin-top: 2rem;
  }
}
@media all and (max-width: 767px) {
  .c-tbl-list .item__list-item {
    font-size: 1.5rem;
    line-height: 2.133;
  }
  .c-tbl-list .item__list::before {
    margin-top: 1.3rem;
  }
}


/**************************************************************
* c-news
**************************************************************/

/* c-news-container
**************************************************************/
@media all and (min-width: 768px) {
  .c-news-container {
    max-width: 104rem;
    margin: 0 auto;
  }
}
@media all and (max-width: 767px) {
  .c-news-container {
    margin: 0 auto;
  }
}

/* c-news-list
**************************************************************/

/* list__item
********************************/
.c-news-list .list__item {
  position: relative;
}

@media all and (min-width: 768px) {
  .c-news-list .list__item:not(:first-child) {
    padding: 6rem 0;
  }
  .c-news-list .list__item:first-child {
    padding-bottom: 6rem;
  }
}
@media all and (max-width: 767px) {
  .c-news-list .list__item:not(:first-child) {
    padding: 4rem 0;
  }
  .c-news-list .list__item:first-child {
    padding-bottom: 4rem;
  }
}

/* item__contents
********************************/
@media all and (min-width: 768px) {
  .c-news-list .item__contents {
    display: flex;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 767px) {}

/* item__header
********************************/
@media all and (min-width: 768px) {
  .c-news-list .item__header {
    width: 27rem;
  }
}

/* item__photo
********************************/
.c-news-list .item__photo {}
.c-news-list .item__photo img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  border: .1rem solid var(--accent-color-02);
}
@media all and (min-width: 768px) {
  .c-news-list .item__photo {
    width: 27rem;
  }
  .c-news-list .item__photo img {
    height: 27rem;
  }
}
@media all and (max-width: 767px) {
  .c-news-list .item__photo {
    width: 20rem;
    margin: 0 auto;
  }
  .c-news-list .item__photo img {
    height: 20rem;
  }
}

/* item__body
********************************/
.c-news-list .item__body {}
@media all and (min-width: 768px) {
  .c-news-list .item__body {
    width: calc(100% - 27rem - 3rem);
    margin-left: 3rem;
  }
}
@media all and (max-width: 767px) {
  .c-news-list .item__body {
    margin-top: 3rem;
  }
}

/* item__head
********************************/
.c-news-list .item__head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* item__date
********************************/
.c-news-list .item__date {
  margin-left: 2rem;
  color: var(--base-font-color);
}
@media all and (min-width: 768px) {
  .c-news-list .item__date {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 767px) {
  .c-news-list .item__date {
    font-size: 1.4rem;
  }
}

/* item__category
********************************/
.c-news-list .item__category {
  display: inline-block;
  color: #fff;
  line-height: 1.65;
  text-align: center;
  background-color: var(--main-accent-color);
}
@media all and (min-width: 768px) {
  .c-news-list .item__category {
    padding: .1rem 2.5rem;
    font-size: 1.5rem;
  }
}
@media all and (max-width: 767px) {
  .c-news-list .item__category {
    padding: .1rem 2.5rem;
    font-size: 1.4rem;
  }
}

/* item__ttl
********************************/
.c-news-list .item__ttl {
  color: var(--base-font-color);
  line-height: 2;
}
@media all and (min-width: 768px) {
  .c-news-list .item__ttl {
    margin-top: 2rem;
    font-size: 1.8rem;
  }
}
@media all and (max-width: 767px) {
  .c-news-list .item__ttl {
    margin-top: 2rem;
    font-size: 1.6rem;
  }
}

/* item__des
********************************/
.c-news-list .item__des {
  color: var(--base-font-color);
  line-height: 2;
}
@media all and (min-width: 768px) {
  .c-news-list .item__des {
    margin-top: .5rem;
    font-size: 1.6rem;
  }
}
@media all and (max-width: 767px) {
  .c-news-list .item__des {
    margin-top: 2rem;
    font-size: 1.4rem;
  }
}


/**************************************************************
* c-history-list-container
**************************************************************/
@media all and (min-width: 768px) {
  .c-history-list-container + .c-history-list-container {
    margin-top: 4rem;
  }
}
@media all and (max-width: 767px) {
  .c-history-list-container + .c-history-list-container {
    margin-top: 4rem;
  }
}

/* c-history-list-ttl
**************************************************************/
.c-history-list-ttl {
  padding: 0 1rem 1rem;
  font-weight: bold;
  border-bottom: .1rem solid #222020;
}
@media all and (min-width: 768px) {
  .c-history-list-ttl {
    margin-bottom: 4rem;
    font-size: 1.6rem;
  }
}
@media all and (max-width: 767px) {
  .c-history-list-ttl {
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }
}

/* c-history-list
**************************************************************/
@media all and (min-width: 768px) {
  .c-history-list {
    display: flex;
    flex-wrap: wrap;
  }
}


/* list__item
********************************/
.c-history-list .list__item {
  position: relative;
  background-color: #fff;
}
@media all and (min-width: 768px) {
  .c-history-list .list__item {
    width: 32.352%;
    margin-bottom: 2rem;
  }
  .c-history-list .list__item:not(:nth-child(3n + 1)) {
    margin-left: 1.4705%;
  }
}
@media all and (max-width: 767px) {
  .c-history-list .list__item:nth-child(n + 2) {
    margin-top: 3rem;
  }
}

/* item__contents
********************************/
.c-history-list .item__contents {}
@media all and (min-width: 768px) {
  .c-history-list .item__contents {
    padding: 4rem;
  }
}
@media all and (max-width: 767px) {
  .c-history-list .item__contents {
    padding: 3rem;
  }
}

/* item__ttl
********************************/
.c-history-list .item__ttl-txt {
  font-weight: bold;
}
@media all and (min-width: 768px) {
  .c-history-list .item__ttl-txt {
    font-size: 1.6rem;
  }
}
@media all and (max-width: 767px) {
  .c-history-list .item__ttl-txt {
    font-size: 1.4rem;
  }
}

/* contents-list-container
**************************************************************/

/* contents-list
********************************/
@media all and (min-width: 768px) {
  .c-history-list .contents-list {
    margin-top: 4rem;
  }
}
@media all and (max-width: 767px) {
  .c-history-list .contents-list {
    margin-top: 3rem;
  }
}

/* contents-list__item
********************************/
@media all and (min-width: 768px) {
  .c-history-list .contents-list__item:nth-child(n + 2) {
    margin-top: 2rem;
  }
}
@media all and (max-width: 767px) {}

/* contents-list__item__contents
********************************/
.c-history-list .contents-list__item__contents {
  display: flex;
  flex-wrap: wrap;
}

/* contents-list__item__date
********************************/
.c-history-list .contents-list__item__date {
  line-height: 2;
}
@media all and (min-width: 768px) {
  .c-history-list .contents-list__item__date {
    width: 6rem;
    font-size: 1.4rem;
  }
}
@media all and (max-width: 767px) {
  .c-history-list .contents-list__item__date {
    width: 5rem;
    font-size: 1.3rem;
  }
}

/* contents-list__item__des
********************************/
.c-history-list .contents-list__item__des {
  line-height: 2;
}
@media all and (min-width: 768px) {
  .c-history-list .contents-list__item__des {
    width: calc(100% - 6rem);
    font-size: 1.4rem;
  }
}
@media all and (max-width: 767px) {
  .c-history-list .contents-list__item__des {
    width: calc(100% - 5rem);
    font-size: 1.3rem;
  }
}


/**************************************************************
* ページャー
**************************************************************/

/* c-pager-list-container
**************************************************************/
.c-pager-list-container {
  margin: 6rem 0;
  overflow: hidden;
}

/* list__item
********************************/
@media all and (min-width: 768px) {
  .c-pager-list-container .list__item {
    width: 21.428%;
    min-width: 30rem;
    max-width: 33rem;
  }
  .c-pager-list-container .--next {
    float: left;
  }
  .c-pager-list-container .--prev {
    float: right;
  }
}

@media all and (max-width: 767px) {
  .c-pager-list-container .list__item {
    width: 100%;
  }
  .c-pager-list-container .list__item:nth-child(n + 2) {
    margin-top: 2rem;
  }
}


/* item__contents
********************************/
.c-pager-list-container .item__contents a {
  display: block;
  position: relative;
}
.c-pager-list-container .item__img {
  display: block;
  height: 10rem;
  background-color: #000;
  transition: opacity var(--transition-speed);
}
.c-pager-list-container .item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .4;
}
.c-pager-list-container .item__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 92%;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  transform: translate(-50%, -50%);
}
@media (hover: hover) {
  .c-pager-list-container .item__contents a:hover .item__img {
    opacity: var(--opacity-degree);
  }
}


/* c-posts-pagination-container
**************************************************************/
.c-posts-pagination-container {
  margin: 6rem 0;
}

/* c-posts-pagination-container
********************************/
.c-posts-pagination-container {
  display: flex;
  justify-content: center;
}

/* c-posts-pagination-container page-numbers
********************************/
.c-posts-pagination-container .page-numbers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* c-posts-pagination-container li
********************************/
.c-posts-pagination-container li {
  width: 4rem;
  margin: 0 1rem;
}

/* c-posts-pagination-container page-numbers page-numbers
********************************/
.c-posts-pagination-container .page-numbers .page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  text-align: center;
  border-radius: 100%;
  background-color: #707070;
  transition: background-color var(--transition-speed);
}
.c-posts-pagination-container .page-numbers .page-numbers.current {
  background-color: var(--accent-color-01);
}
@media all and (min-width: 768px) {
  .c-posts-pagination-container .page-numbers .page-numbers {
    height: 4rem;
    font-size: 1.6rem;
  }
}
@media all and (max-width: 767px) {
  .c-posts-pagination-container .page-numbers .page-numbers {
    height: 4rem;
    font-size: 1.4rem;
  }
}
@media (hover: hover) {
  .c-posts-pagination-container .page-numbers .page-numbers:hover {
    background-color: var(--accent-color-01);
  }
}

/* c-posts-pagination__icon
********************************/
.c-posts-pagination__icon {
  display: block;
  position: relative;
  width: 100%;
  height: 4rem;
}
.c-posts-pagination__icon::before,
.c-posts-pagination__icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.c-posts-pagination__icon::after {
  left: 0;
  right: 0;
  width: .8rem;
  height: .8rem;
  margin: auto;
  border-top: .1rem solid #fff;
  border-right: .1rem solid #fff;
}
.c-posts-pagination__icon.--prev::after {
  transform: rotate(-135deg);
}
.c-posts-pagination__icon.--next::after {
  transform: rotate(45deg);
}


/**************************************************************
* c-article-contents
**************************************************************/
@media all and (min-width: 768px) {
  .c-article-contents {
    display: flex;
    flex-wrap: wrap;
  }
}

/* c-article
**************************************************************/
@media all and (min-width: 768px) {
  .--col-2 .c-article {
    width: calc(100% - 27rem - 8rem);
  }
}

/* c-archive
**************************************************************/
@media all and (min-width: 768px) {
  .c-archive {
    width: 19.852%;
    min-width: 27rem;
    margin-left: 8rem;
  }
}
@media all and (max-width: 767px) {
  .c-archive {
    margin-bottom: 6rem;
  }
}

/* c-archive-ttl
**************************************************************/
.c-archive-ttl {
  line-height: 1.8;
  border-bottom: 0.1rem solid;
}
@media all and (min-width: 768px) {
  .c-archive-ttl {
    font-size: 4rem;
  }
}
@media all and (max-width: 767px) {
  .c-archive-ttl {
    font-size: 2.6rem;
  }
}

/* c-archive-blk-wrap
**************************************************************/
.c-archive-blk-wrap {
  margin-top: 3rem;
}
.c-archive-blk + .c-archive-blk {
  margin-top: 4rem;
}

/* c-archive-date
**************************************************************/
.c-archive-date {
  color: #999;
}
@media all and (min-width: 768px) {
  .c-archive-date {
    font-size: 1.6rem;
  }
}
@media all and (max-width: 767px) {
  .c-archive-date {
    font-size: 1.4rem;
  }
}

/* c-archive-list
**************************************************************/
.c-archive-list {
  margin: 2rem 0 0 2rem;
}


/* list__item
********************************/
.c-archive-list .list__item:nth-child(n + 2) {
  margin-top: 2rem;
}
@media all and (min-width: 768px) {
  .c-archive-list .list__item {}
}
@media all and (max-width: 767px) {
  .c-archive-list .list__item {}
}


/* item__link
********************************/
.c-archive-list .item__link {
  display: flex;
  text-decoration: underline;
}
@media all and (min-width: 768px) {}
@media all and (max-width: 767px) {}
@media (hover: hover) {
  .c-archive-list .item__link:hover {
    text-decoration: none;
  }
}


/* item__icon
********************************/
.c-archive-list .item__icon {
  position: relative;
  padding-left: 1.8rem;
}
.c-archive-list .item__icon::before,
.c-archive-list .item__icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  margin: auto 0 auto;
}
.c-archive-list .item__icon::before {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: #000;
}
.c-archive-list .item__icon::after {
  left: .4rem;
  width: .4rem;
  height: .4rem;
  border-top: .1rem solid #fff;
  border-right: .1rem solid #fff;
  transform: rotate(45deg);
}
@media all and (min-width: 768px) {}
@media all and (max-width: 767px) {}


/* item__contents
********************************/
.c-archive-list .item__contents {
  padding-left: 1rem;
}

/* item__date / item__ttl
********************************/
.c-archive-list .item__date,
.c-archive-list .item__ttl {
  line-height: 1.6;
}
@media all and (min-width: 768px) {
  .c-archive-list .item__date,
  .c-archive-list .item__ttl {
    font-size: 1.6rem;
  }
}
@media all and (max-width: 767px) {
  .c-archive-list .item__date,
  .c-archive-list .item__ttl {
    font-size: 1.4rem;
  }
}


/**************************************************************
* c-404-container
**************************************************************/
.c-404-container {}

@media all and (min-width: 768px) {
  .c-404-container {}
}
@media all and (max-width: 767px) {
  .c-404-container {}
}

/* c-404-contents
**************************************************************/
.c-404-contents {}
@media all and (min-width: 768px) {
  .c-404-contents {
    margin: 10rem 0 6rem;
  }
}
@media all and (max-width: 767px) {
  .c-404-contents {
    margin-bottom: 4rem;
  }
}

/* c-404-ttl
**************************************************************/
.c-404-ttl {
  text-align: center;
  line-height: 2;
}
@media all and (min-width: 768px) {
  .c-404-ttl {
    font-size: 4rem;
  }
}
@media all and (max-width: 767px) {
  .c-404-ttl {
    font-size: 2.6rem;
  }
}

/* c-404-des
**************************************************************/
.c-404-des {
  text-align: center;
  line-height: 2;
}
@media all and (min-width: 768px) {
  .c-404-des {
    font-size: 1.6rem;
  }
}
@media all and (max-width: 767px) {
  .c-404-des {
    font-size: 1.4rem;
  }
}